<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/escurel.css" rel="stylesheet"/>
    <title>escurel: debug</title>
  </head>
  <body>
    <h1>escurel: debug</h1>
    <pre>
      The request contains %d items:

      %s
      
      server-state:
      
      %s
    </pre>
  </body>
</html>
